.lightbox {
    position: absolute;
    top: 0;             
    bottom: 0;           
    left: 0;        
    right: 0;
    margin: auto;  
    /*background-color: #00000066;
    display: flex;
    justify-content: center;
    align-items: center;


    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    
    transform: translate(-50%, -50%);
    */

}

.lightbox-hide{
    
    z-index: -1;
    opacity: 0;
}

.lightbox-target {
    z-index: 150;
    opacity: 1;
    /*transition: 0.5s;*/
}

/**********菜單***********/

.lightbox-menu{
    
    width: 738px;
    height: 1000px;
    background-image: url("../pics/menuBG-s.png");
}

.menu-box{
    display: flex;
    flex-direction:column;
    width: auto;
    height: auto;

    padding: 30px;

    justify-content: space-around;
    align-items: center;
    
}

.menu-button{
    /*position: absolute;*/
    flex: 0;
    width: 100px;
    height: 50px;
    margin: 25px;
}

.menu-button-close{
    /*position: absolute;*/
    flex: 0;
    width: 100px;
    height: 50px;
    margin: 25px;
}

/*
.menu-button-close{
    position: absolute;

    width: 100px;
    height: 100px;

    left: 0%;
    top: 0%;
}
*/

.lightbox-menu-open{
    animation-duration: 0.5s;
    animation-name: lightbox-menu-open;
    transform: rotate(10deg);
    z-index: 150;
    /*
    transform: rotate(10deg);
    width: 100px;
    height: 50px;
    outline: 2px dashed;*/
}

@keyframes lightbox-menu-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(-100%, -100%, 0) rotate(45deg);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) rotate(10deg);
        z-index: 1000;
    }
}

.lightbox-menu-close{
    animation-duration: 0.5s;
    animation-name: lightbox-menu-close;
    z-index: -1;

    /*
    transform: rotate(6deg);
    transform: rotate(10deg);
    width: 100px;
    height: 50px;
    outline: 2px dashed;*/
}

@keyframes lightbox-menu-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0) rotate(10deg);
        z-index: 1000;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, -200%, 0) rotate(-45deg);
        z-index: -1;

    }
}


/***********作者***********/
.lightbox-author{
    width: 698px;
    height: 926px;
    
    background-image: url("../pics/author-lightbox.png");
}


.lightbox-author-open{
    animation-duration: 0.5s;
    animation-name: lightbox-author-open;
    transform: rotate(-6deg);
    z-index: 150;
}

@keyframes lightbox-author-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(100%, 100%, 0) rotate(45deg);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) rotate(-6deg);
        z-index: 1000;
    }
}

.lightbox-author-close{
    animation-duration: 0.5s;
    animation-name: lightbox-author-close;
    z-index: -1;

    /*
    transform: rotate(6deg);
    transform: rotate(10deg);
    width: 100px;
    height: 50px;
    outline: 2px dashed;*/
}

@keyframes lightbox-author-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0) rotate(6deg);
        z-index: 1000;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 200%, 0) rotate(45deg);
        z-index: -1;

    }
}



/***********線索白板***********/
.lightbox-whiteboard{
    width: 1247px;
    height: 712px;
    
    background-image: url("../pics/whiteboard-lightbox.png");
}


.lightbox-whiteboard-open{
    animation-duration: 0.5s;
    animation-name: lightbox-whiteboard-open;
    transform: rotate(0deg);
    z-index: 150;
}

@keyframes lightbox-whiteboard-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(100%, 100%, 0) rotate(45deg);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) rotate(0deg);
        z-index: 1000;
    }
}

.lightbox-whiteboard-close{
    animation-duration: 0.5s;
    animation-name: lightbox-whiteboard-close;
    z-index: -1;

    /*
    transform: rotate(6deg);
    transform: rotate(10deg);
    width: 100px;
    height: 50px;
    outline: 2px dashed;*/
}

@keyframes lightbox-whiteboard-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0) rotate(0deg);
        z-index: 1000;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 200%, 0) rotate(45deg);
        z-index: -1;

    }
}


/***********線索白板-人物***********/
.whiteboard-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.character-box{
    position: absolute;
    width: auto;
    height: auto;

    transform-origin: 50% 50% ;

}

.character-box:hover{
    filter:brightness(70%);
}

.character-img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.character-name{
    border-radius: 10px;
    height: 20px;
    text-align:center;
    line-height:20px;

    background-color:rgb(39, 39, 39);
    color: white;
    font-size: 12px;
}

/***********線索白板-角色位移 縮放***********/
.character-big{
    transform: scale(1.5);
}

.character-small{
    transform: scale(1.2);
}

.character-snake{

    top: 45%;
    left: 48%;
    
}

.character-killer{

    top: 30%;
    left: 75%;
    
}

.character-police{

    top: 15%;
    left: 35%;

}

.character-lizard{

    top: 70%;
    left: 40%;
}

.character-uncle{

    top: 30%;
    left: 25%;
}


.character-black{

    top: 15%;
    left: 65%;
}

.character-shopkeeper{

    top: 70%;
    left: 60%;
}

.character-kids{

    top: 70%;
    left: 70%;
}

.character-yandere{
    top: 70%;
    left: 30%;
}


/***********封條***********/
.lightbox-seal{
    width: 1920px;
    height: 1080px;
    
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
}

.seal{
    width: 1920px;
    height: 1080px;
    
    position: absolute;
}

.seal-1{
    transform: translate3d(100%, 0, 0);
}

.seal-2{
    transform: translate3d(-100%, 0, 0);
}

.seal-3{
    transform: translate3d(0, -100%, 0);
}

/*3*/

.lightbox-seal3-open{
    animation-duration: 0.25s;
    animation-name: lightbox-seal3-open;
    transform: translate3d(0, 0, 0) ;
    z-index: 150;
}

@keyframes lightbox-seal3-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, -100%, 0);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) ;
        z-index: 1000;
    }
}


.lightbox-seal3-close{
    animation-duration: 0.25s;
    animation-name: lightbox-seal3-close;
    transform: translate3d(0, -100%, 0);
    z-index: 150;
}

@keyframes lightbox-seal3-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0) ;
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, -100%, 0);
        z-index: 1000;
    }
}

/*2*/

.lightbox-seal2-open{
    animation-duration: 0.25s;
    animation-name: lightbox-seal2-open;
    transform: translate3d(0, 0, 0) ;
    z-index: 150;
}

@keyframes lightbox-seal2-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(-100%, 0, 0);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) ;
        z-index: 1000;
    }
}

.lightbox-seal2-close{
    animation-duration: 0.25s;
    animation-name: lightbox-seal2-close;
    transform: translate3d(-100%, 0, 0) ;
    z-index: 150;
}

@keyframes lightbox-seal2-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(-100%, 0, 0) ;
        z-index: 1000;
    }
}

/*1*/

.lightbox-seal1-open{
    animation-duration: 0.25s;
    animation-name: lightbox-seal1-open;
    transform: translate3d(0, 0, 0) ;
    z-index: 150;
}

@keyframes lightbox-seal1-open{
    from{
        /*opacity: 0;*/
        transform: translate3d(100%, 0, 0);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0) ;
        z-index: 1000;
    }
}


.lightbox-seal1-close{
    animation-duration: 0.25s;
    animation-name: lightbox-seal1-close;
    transform: translate3d(100%, 0, 0) ;
    z-index: 150;
}

@keyframes lightbox-seal1-close{
    from{
        /*opacity: 0;*/
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    to{
        /*opacity: 1;*/
        transform: translate3d(100%, 0, 0) ;
        z-index: 1000;
    }
}




